.btn-default{
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}

.action{
    background-color: #3498db;
    color: hsl(0, 0%, 100%);
}

body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}